* {
    padding-right: 5px;
    margin: 0;
    box-sizing: border-box;
}

select {
    margin-top: 10px;
    border: 1px solid lightblue;
}

.form-container {
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}

span {
    margin: 3px;
    color: lightblue !important;
    border: 1px solid lightblue;
}

span:hover {
    color: rgb(16, 127, 164) !important;
    border-color: rgb(16, 127, 164) !important;
    cursor: pointer;
}
